<!DOCTYPE html>
<html>
<head>
    <title>Test Post Method</title>
</head>
<body>
    <h2>Test Post Method</h2>
    <p>Push the button</p>
    <form action="/hello" method="post">
        <p><input type="text" id="box" name="box" /></p>
        <p><input type="submit" value="Post" /></p>
    </form>
</body>
</html>
